$primary-bgcolor: rgb(51,51,51);
$primary-bgcolor-transparent: rgba(51,51,51,0.9);
$secondary-bgcolor: red;
$dropdown-bgcolor: rgba(0, 0, 0, 0.2);
$third-bgcolor: black;
$fourth-bgcolor: white;
$submit-bgcolor: #43A047;

$primary-font-color: white;
$secondary-font-color: black;

$primary-border-color:white;
$secondary-border-color:rga(204,204,204);

$primary-font-family: "Roboto", sans-serif;
$secondary-font-family: "Lato", sans-serif;

$full-screen-size: 100vh;

$bg-img-mobile: "../images/background_clean.png";

$colum-count-mobile: 1;
$colum-count-tablet: 2;
$colum-count-pc: 3;
$column-gap: 20px; 