// background color
$primary-bgcolor: rgb(51,51,51);
$primary-bgcolor-transparent: rgba(51,51,51,0.9);
$secondary-bgcolor: rgb(255,0,0);
$dropdown-bgcolor: rgba(0, 0, 0, 0.2);
$third-bgcolor: rgb(0,0,0);
$fourth-bgcolor: rgb(255,255,255);
$submit-bgcolor: rgb(67,160,71);

// font color
$primary-font-color: rgb(255,255,255);
$secondary-font-color: rgb(0,0,0);

// borde color
$primary-border-color:rgb(255,255,255);
$secondary-border-color:rga(204,204,204);

//  font family
$primary-font-family: "Roboto", sans-serif;
$secondary-font-family: "Lato", sans-serif;

// commonly used size
$full-screen-size: 100vh;

// background image link
$bg-img-mobile: "../images/background_clean.png";

// different settings for responsive layout
$colum-count-mobile: 1;
$colum-count-tablet: 2;
$colum-count-pc: 3;
$column-gap: 20px; 