$primary-bgcolor: white;
$secondary-bgcolor: rgb(14, 2, 65);
$primary-font-color: white;
$secondary-font-color: black;
$primary-font-family: "Roboto", sans-serif;
$secondary-font-family: "Lato", sans-serif;
