// here holds settings for about me section
#about-me {
  @include load-bg-img($bg-img-mobile); // load the background image
  grid-area: about-me;
  // position the about me layout
  margin: 0 auto;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr;
  // 1st row holds the title image
  // 2nd row holds the content
  grid-template-rows: 2fr;
  // card layout settings
  div {
    @include set-column($colum-count-mobile, 20px);
    padding-top: 100px;
  }
  // styling for each card
  .aboutme-content {
    @include block-setting;
  }
  // position the image
  .section-img {
    display: block;
    padding: 10px;
    margin: 0 auto 10px auto;
    width: 80%;
  }
}