// here holds settings for contact section
#contact {
  @include load-bg-img($bg-img-mobile); // load background image
  grid-area: contact;
  // layout settings for contact form
  .contact-form {
    max-width: 800px;
    margin: 0 auto;
    position: relative;
    }
  // position the content
  #contact-content {
    padding: 25px;
    margin: 150px 10px 150px 10px;
  }
  // style thr border
  fieldset {
    border: medium none !important;
    margin: 0 0 10px;
    min-width: 100%;
    padding: 0;
    width: 100%;
    text-align: center;
  }
  // style the form text area
  input[type="text"],
  input[type="email"],
  input[type="tel"],
  textarea {
    background: $fourth-bgcolor;
    border: 1px solid $secondary-border-color;
    margin: 0 0 5px;
    padding: 10px;
    width: 90%;
  }
  textarea {
    height: 100px;
    max-width: 100%;
    resize: none;
  }
  // style the submit button
  button[type="submit"] {
    cursor: pointer;
    width: 90%;
    border: none;
    background: $primary-bgcolor;
    color: $primary-font-color;
    margin: 0 0 5px;
    padding: 10px;
    font-size: 15px;
    &:hover {
      background: $submit-bgcolor;
      transition: background-color 0.3s ease-in-out;    
    }
    &:active {
      box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
    }
  }
}
