// here holds the setting for footter section
#footer {
  // position the footer
  width: 100%;
  background-color: $primary-bgcolor-transparent;
  color: $primary-font-color;
  grid-area: footer;
  text-align: center;
}
