// home holds all setting related to home page
#home {
  @include load-bg-img($bg-img-mobile);
  height: 100vh; // the home block is set to fill the whole screen
  padding: 0;
  @include flex-setting(column, space-evenly, center);
  table {
    table-layout: fixed;
    padding-left: 5vw; // responsive layout
    border-collapse: separate;
    border-spacing: 0 10vh; // responsive gap between tables
  }
  .find-more {
    visibility: hidden;
    width: 120px;
    color: $primary-font-color;
    background-color: $third-bgcolor;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    // Position the tooltip text
    position: absolute;
    z-index: 1;
    margin: 64px 0 0 -86px;
  }
  // display text when user hover on file icon
  #file-icon {
      text-align: center;
      &:hover .find-more {
          visibility: visible;
      }
  }
  grid-area: home;
}