// nav holds the settings for navigation bar
#main-nav {
  background-color: $primary-bgcolor-transparent;
  @include flex-setting(row, flex-end, flex-end);
  position: sticky; // navigation bar stays on top of the page
  z-index: 1;
  margin: 0;
  top: 0;
  // set the menu icon size
  img {
    height: 50px;
    width: 100px;
  }
  .nav-content {
    text-decoration: none;
    display: none; // hidden on mobile device
    padding: 1em;
    color: $primary-font-color;
    &:hover { // change the background color when user hovers on menu
      background-color: $secondary-bgcolor;
    }
  }
  // settings for dropdown menu
  .dropdown {
    .dropdown-content {
      display: none; // hidden when dropdown menu not clicked
      position: absolute;
      background-color: $primary-bgcolor;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px $dropdown-bgcolor; //rgba(0,0,0,0.2)
      z-index: 2;
      right: 0;
      // setting for hyper links in navigation bar
      a {
        float: none;
        color: $primary-font-color;
        padding: 12px 12px;
        text-decoration: none;
        display: block;
        text-align: left;
        &:hover {
          background-color: $secondary-bgcolor;
        }
      }
    }
    // display dropdown menu when user hovers over
    &:hover .dropdown-content{
      display: block;
    }
  }
  grid-area: main-nav;
}
