// page holds the settings apply to whole html
html {
  scroll-behavior: smooth;
}

body {
  background-color: $secondary-bgcolor;
}

#container {
  @include font-settings();
  // Use grid for the basic layout
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
	"main-nav"
  "home"
  "about-me"
  "work"
  "contact"
  "footer";
}

// set the padding for all main sections
.mainpage {
  box-sizing: border-box;
  padding: 20px;
}

// this is the mobile friendly size for dialogs
.dialog {
  width: 230px;
  margin: 1vh 0 0 1vw;
}

// this is the mobile friendly size for logoes
.logo {
  width: 50px;
}

// this is the mobile friendly size for icons
.icon {
  width: 70px;
}
