#work {
    background-image: url("../images/background_clean.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    overflow: auto;

    column-count: 1;
    column-gap: 20px;
    // margin: 0 auto;
    padding: 20px;
    grid-area: work;

    .demo {
        max-width: 800px;
    }
    // display: flex;
    // flex-flow: column wrap;
    // justify-content: center;
    // align-items: center;
    .content-box {
        margin: 100px auto 100px auto;
        max-width: 800px;
        // text-align: center;

    }
    section {
        break-inside: avoid;
        border: 2px solid white;
        border-radius: 3px;
        background-color: black;
        margin-bottom: 20px;
        overflow: hidden;
    }
    .title {
        background-color: transparent;
        border: none;
    }
    a {
        background-color: white;
        border: 2px solid white; 
    }
}
