// here holds settings for work section
#work {
  @include load-bg-img($bg-img-mobile); // load background image
  @include set-column($colum-count-mobile, 20px); // set card layout for mobile
  // position the layout
  padding: 20px;
  grid-area: work;
  // display the full gif file
  .demo {
    height: 100%;
    width: 100%;
    max-width: 800px;
  }
  // set teh size for container box
  .content-box {
    margin: 100px auto 100px auto;
    max-width: 800px;
  }
  section {
    @include block-setting;
  }
  // hide the title block
  .title {
    background-color: transparent;
    border: none;
  }
  a {
    color: $primary-font-color;
  }
}
