@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");
@import url("https://fonts.googleapis.com/css?family=Lato|Roboto");
@import "library/mixins.scss";
@import "library/variables.scss";
@import "partials/page";
@import "partials/nav";
@import "partials/home";
@import "partials/aboutme";
@import "partials/work";
@import "partials/contact";
@import "partials/footer";


// #resources {
//     background-color: purple;
//     position: relative;
// }



@media only screen and (min-width:532px) and (max-width:960px) {
    #main-nav {
        // flex-flow: row wrap;
        justify-content: space-around;
        img {
            align-self: center;
        }
        .nav-content {
            display: block;
        }
        .dropdown-content {
            display: none;
        }
        .dropdown {
        
            &:hover .dropdown-content{
                display: none;
            }
        }
    }
    #home {
        min-height: 61em;
        .dialog {
            width: 334px;
            // display: none;
        }
        .logo {
            width: 70px;
        }
        .icon {
            width: 70px;
        }
        // background-image: url(../images/background_pc.jpg);
        // background-size: contain;
        background-color: $secondary-bgcolor;
    }
    #about-me{
        div {
            column-count: $colum-count-tablet;
            // height: 100vh;
        }
    }
    // #work {
    //     column-count: 2;
    // }
}

@media only screen and (min-width:961px) {
    #main-nav {
        flex-flow: row wrap;
        align-items: flex-end;
        img {
            align-self: center;
        }
        .nav-content {
            display: block;
        }
        .dropdown-content {
            display: none;
        }
        .dropdown {
        
            &:hover .dropdown-content{
                display: none;
            }
        }
    }
    #home {
        height: 60em;
        align-items: flex-start;
        padding-left: 1em;
        .dialog {
            width: 266px;
            // display: none;
        }
        .logo {
            width: 70px;
        }

        #file-explorer {
            width: 70px;
        }
        #file-icon {
            padding-left: 10em;
        }
        background-image: url(../images/background_pc.jpg);
        // background-size: contain;
        // background-size: contain;
    }
    #about-me {
        div {
            column-count: $colum-count-pc;
            height: $full-screen-size;
        }
    }
    // #work {
    //     column-count: 3;
    // }
}
 
//another media for 1440 px and above

